@include font-face("Open Sans", "fonts/OpenSans-Regular", 400, normal);
@include font-face("Open Sans", "fonts/OpenSans-SemiBold", 600, normal);
@include font-face("Open Sans", "fonts/OpenSans-Bold", 700, normal);

html {
  font-family: #{$primary-font};
  font-size: 16px;
}

a {
  border-bottom: 1px solid transparent;
  text-decoration: none;
  color: #9d5cd0;
  @include transition(border-color, background-color, color);

  &:focus-visible {
    background-color: #9d5cd0;
    border-color: #9d5cd0;
    color: #fff;
  }

  &:hover {
    border-color: currentColor;
  }

  &:active {
    color: #7943a4;
  }
}