.event {
    display: flex;
    min-height: 700px;
    height: 100%;

    &__card {
        display: flex;
        flex-direction: column;
        border: 1px solid #cacaca;
    }

    &__image {
        display: block;
        width: 100%;

        &-wrap {
            position: relative;
            top: -1px;
            right: -1px;
            left: -1px;
            display: block;
            width: calc(100% + 2px);

        }
    }

    &__text {
        margin-bottom: auto;
        padding: 13px 50px 0;

        @media (max-width: $laptop) {
            padding-right: 34px;
            padding-left: 34px;
        }

        @media (max-width: $tablet) {
            padding-right: 37px;
            padding-left: 37px;            
        }

        @media (max-width: $mobile) {
            padding-right: 23px;
            padding-left: 23px;
        }
    }

    &__place {
        &-wrap {
            display: flex;
            flex-direction: column;
            margin-bottom: 13px;
            font-weight: 600;
            font-size: 12px;
            color: #999;

            @media (max-width: $laptop) {
                margin-bottom: 4px;
                text-align: right;
            }
        }
    }

    &__title {
        margin: 0;
        margin-bottom: 3px;
        font-weight: 600;
        font-size: 24px;
        color: #333;
    }

    &__excerpt {
        margin: 0;
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;
        color: #333;
    }

    &__showmore {
        text-decoration: underline;
        color: #9d5cd0;

        &:focus-visible {
            border-color: currentColor;
            background-color: #9d5cd0;
            color: #fff;
        }

        &:hover {
            color: #7943a4;
        }

        &:active {
            text-decoration: underline;
            color: #333;
        }

        &-wrap {
            padding: 0 50px 43px;

            @media (max-width: $laptop) {
                padding-right: 34px;
                padding-left: 34px;
            }
        }
    }
}