{{> html-header title="Главная страница"}}
{{> header }}

<main class="main">
    {{> hero }}
    {{> about }}
    {{> gallery }}
    {{> catalog }}
    {{> events }}
    {{> projects }}
    {{> contacts }}
</main>

{{> html-footer}}
