<section class="catalog section section--white">
    <div class="container">
        <div class="section__text catalog__text">
            <h2 class="section__title">Каталог</h2>

            <p class="section__paragraph">
                Акционеры крупнейших компаний, которые представляют собой яркий пример континентально-европейского типа
                политической культуры, будут объявлены нарушающими общечеловеческие нормы этики и морали. Являясь всего
                лишь частью общей картины, стремящиеся вытеснить традиционное производство, нанотехнологии и по сей день
                остаются уделом либералов, которые жаждут быть функционально разнесены на независимые элементы.
            </p>
        </div>

        <div class="catalog__wrap">
            <div class="catalog__artist-box artist">
                <picture>
                    <source srcset="assets/images/catalog/artist-photo-desktop.webp">
                    <img class="artist__photo" src="assets/images/catalog/artist-photo-desktop.jpg"
                        alt="Доменико Гирландайо">
                </picture>

                <h3 class="artist__name">Доменико Гирландайо</h3>
                <time class="artist__lifetime">2 июня 1448 — 11 января 1494.</time>
                <p class="artist__bio">
                    Один из ведущих флорентийских художников Кватроченто, основатель художественной династии, которую
                    продолжили его брат Давид и сын Ридольфо. Глава художественной мастерской, где юный Микеланджело в
                    течение года овладевал профессиональными навыками. Автор фресковых циклов, в которых выпукло, со
                    всевозможными подробностями показана домашняя жизнь библейских персонажей (в их роли выступают
                    знатные граждане Флоренции в костюмах того времени).
                </p>
            </div>

            <ul class="catalog__categories">
                <li class="catalog__category category">
                    <a href="javascript:void(0)" class="category__heading">
                        <span class="category__title">C 1400 по 1499 гг.</span>
                        <span class="category__chevron"></span>
                    </a>

                    <div class="category__body">
                        <ul class="category__items">
                            {{> elements/CategoryItem name="Бенедетто ди Биндо" }}
                            {{> elements/CategoryItem name="Бергоньоне, Амброджо" }}
                            {{> elements/CategoryItem name="Биссоло, Франческо" }}
                            {{> elements/CategoryItem name="Больтраффио, Джованни" }}
                            {{> elements/CategoryItem name="Бонсиньори, Франческо" }}
                            {{> elements/CategoryItem name="Боттичини, Рафаэлло" }}
                            {{> elements/CategoryItem name="Брамантино" }}
                            {{> elements/CategoryItem name="Бреа, Людовико" }}
                            {{> elements/CategoryItem name="Бьяджо д’Антонио Туччи" }}
                            {{> elements/CategoryItem name="Веккьетта" }}
                            {{> elements/CategoryItem name="Андреа Верроккьо" }}
                            {{> elements/CategoryItem name="Доменико Гирландайо" }}
                            {{> elements/CategoryItem name="Беноццо Гоццоли" }}
                            {{> elements/CategoryItem name="Граначчи, Франческо" }}
                            {{> elements/CategoryItem name="Грегорио ди Чекко" }}
                            {{> elements/CategoryItem name="Джованни да Удине" }}
                            {{> elements/CategoryItem name="Джованни ди Паоло" }}
                            {{> elements/CategoryItem name="Джорджоне" }}
                            {{> elements/CategoryItem name="Парентино, Бернардо" }}
                            {{> elements/CategoryItem name="Пезеллино" }}
                            {{> elements/CategoryItem name="Пьетро Перуджино" }}
                            {{> elements/CategoryItem name="Перуцци, Бальдассаре" }}
                            {{> elements/CategoryItem name="Пизанелло" }}
                            {{> elements/CategoryItem name="Пинтуриккьо" }}
                        </ul>
                    </div>
                </li>

                <li class="catalog__category category">
                    <a href="javascript:void(0)" class="category__heading">
                        <span class="category__title">C 1500 по 1599 гг.</span>
                        <span class="category__chevron"></span>
                    </a>

                    <div class="category__body">
                        {{> elements/CatalogEmptyBox }}
                    </div>
                </li>

                <li class="catalog__category category">
                    <a href="javascript:void(0)" class="category__heading">
                        <span class="category__title">C 1600 по 1699 гг.</span>
                        <span class="category__chevron"></span>
                    </a>

                    <div class="category__body">
                        {{> elements/CatalogEmptyBox }}
                    </div>
                </li>

                <li class="catalog__category category">
                    <a href="javascript:void(0)" class="category__heading">
                        <span class="category__title">C 1700 по 1799 гг.</span>
                        <span class="category__chevron"></span>
                    </a>

                    <div class="category__body">
                        {{> elements/CatalogEmptyBox }}
                    </div>
                </li>

                <li class="catalog__category category">
                    <a href="javascript:void(0)" class="category__heading">
                        <span class="category__title">C 1800 по 1899 гг.</span>
                        <span class="category__chevron"></span>
                    </a>

                    <div class="category__body">
                        {{> elements/CatalogEmptyBox }}
                    </div>
                </li>

                <li class="catalog__category category">
                    <a href="javascript:void(0)" class="category__heading">
                        <span class="category__title">C 1900 по 1999 гг.</span>
                        <span class="category__chevron"></span>
                    </a>

                    <div class="category__body">
                        {{> elements/CatalogEmptyBox }}
                    </div>
                </li>

                <li class="catalog__category category">
                    <a href="javascript:void(0)" class="category__heading">
                        <span class="category__title">C 2000 г.</span>
                        <span class="category__chevron"></span>
                    </a>

                    <div class="category__body">
                        {{> elements/CatalogEmptyBox }}
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>