<section class="contacts">
    <div class="container">
        <address class="contacts__address">
            <h2 class="contacts__title">Шоурум №4</h2>
            <p class="contacts__location">Леонтьевский переулок, дом 5/1</p>
        </address>

        <form action="javascript:void(0)" class="contacts__form form">
            <div class="form__input-group">
                <input type="text" class="form__input" placeholder="Имя*">
                <span class="form__input-error">Недопустимый формат</span>
            </div>

            <div class="form__input-group">
                <input type="tel" class="form__input" placeholder="Телефон*">
                <span class="form__input-error">Недопустимый формат</span>
            </div>

            <button class="form__submit">Заказать обратный звонок</button>
            <button class="form__submit form__submit--mobile">Заказать</button>
        </form>

        <div class="contacts__socials social">
            <h3 class="social__title">Связаться в один клик</h3>

            <ul class="social__list">
                <li class="social__item social__item--whatsapp">
                    <a href="javascript:void(0)" class="social__link" title="Whatsapp"></a>
                </li>
                <li class="social__item social__item--telegram">
                    <a href="javascript:void(0)" class="social__link" title="Telegram"></a>
                </li>
            </ul>
        </div>
    </div>
</section>