<section id="hero" class="hero">
    <!-- Slider main container -->
    <div class="hero__slider">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            {{> elements/HeroSlideItem number="1" }}
            {{> elements/HeroSlideItem number="2" }}
            {{> elements/HeroSlideItem number="3" }}
        </div>
    </div>

    <div class="container">
        <div class="hero__text">
            <h1 class="hero__title">Прикоснитесь к прекрасному</h1>
            <p class="hero__description">
                Мы вынуждены отталкиваться от того, что реализация намеченных плановых заданий создаёт предпосылки для
                новых
                предложений.
            </p>
        </div>
        <button class="button button--fill hero__button">Подписаться на рассылку</button>
    </div>
</section>