<div class="category__empty">
    <div class="category__empty-pic"></div>

    <div class="category__empty-text">
        <p class="category__empty-heading">Здесь пока пусто</p>
        <span class="category__empty-description">
            А в галерее вы всегда можете найти что-то интересное для себя
        </span>
        <a href="#gallery" class="category__empty-link">В галерею</a>
    </div>
</div>