<div class="swiper-slide">
    <a href="javascript:void(0)" class="gallery__image-link">
        <picture>
            <source srcset="assets/images/gallery/gallery-mobile-{{ number }}.webp" media="(max-width: 767px)">
            <source srcset="assets/images/gallery/gallery-tablet-{{ number }}.webp" media="(max-width: 1023px)">
            <source srcset="assets/images/gallery/gallery-laptop-{{ number }}.webp" media="(max-width: 1279px)">
            <img class="gallery__image" src="assets/images/gallery/gallery-desktop-{{ number }}.jpg" alt="">
        </picture>
    </a>
</div>